name: test secrets
on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Show Secrets (for debugging)
        run: |
          echo "SSH_USER: ${{ secrets.GOOD_KITTY_SSH_USER }}"
          echo "SSH_HOST: ${{ secrets.GOOD_KITTY_SSH_HOST }}"
          # 不显示私钥，因为太长
          echo "SSH_PRIVATE_KEY is set: ${{ secrets.GOOD_KITTY_PRIVATE_KEY != '' }}"
